{% for filter_ in filters %}
    <button class="dropdown-item"
        data-item-id="{{ filter_[0] }}"
        data-version-id="{{ current_user.version_id }}"
        type="button">
        {{ filter_[0] }}
    </button>
{% endfor %}

{% if filters %}
    <div class="dropdown-divider"></div>
{% endif %}

<button class="dropdown-item"
    data-item-id="All"
    data-version-id="{{ current_user.version_id }}"
    type="button">
    All
</button>
