<tr>
    <td class="align-middle">
        {{ category.name }}
    </td>
    <td class="align-middle">
        {{ category.filter_ }}
    </td>
    <td class="align-middle text-center">
        <div class="btn-group" role="group">
            <a class="btn btn-warning rounded text-white mr-2"
                href="{{ url_for('category.update', category_id=category.category_id) }}">
                {{ render_icon('pencil') }}
            </a>
            <a class="btn btn-danger rounded text-white"
                href="{{ url_for('category.delete', category_id=category.category_id) }}">
                {{ render_icon('trash') }}
            </a>
        </div>
    </td>
</tr>
