{% extends 'base.html.jinja' %}
{% from 'bootstrap/utils.html' import render_icon %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm mt-3 mb-0">
            <thead class="table-primary text-white">
                <tr>
                    {% if current_user.filter_ is none %}
                    <th class="col-7 align-middle">
                    {% else %}
                    <th class="col-11 align-middle">
                    {% endif %}
                        Category
                    </th>
                    {% if current_user.filter_ is none %}
                    <th class="col-4 align-middle">
                        Filter
                    </th>
                    {% endif %}
                    <th class="col-1 align-middle text-center text-nowrap">
                        Actions
                        <a class="btn btn-primary btn-sm text-white"
                            href="{{ url_for('category.create') }}">
                            {{ render_icon('plus-square') }}
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    {% include 'category/list_item.html.jinja' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        {% include 'scroll.js' %}
    </script>
{% endblock %}
