{% extends 'base.html.jinja' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <div class="card mt-3 mb-0">
        <h5 class="card-header bg-primary text-white">
            New Item
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    {{ render_form(form, button_map={
                        'submit': 'primary', 'cancel': 'light'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        {% include 'cancel.js' %}
    </script>
{% endblock %}
