{% extends 'base.html.jinja' %}
{% from 'bootstrap/utils.html' import render_icon %}

{% block content %}
    {% set category, item = 0, 1 %}
    {% for ci in categories_items %}
        {% if loop.previtem is not defined or
            ( loop.previtem is defined and
              loop.previtem[category].category_id != ci[category].category_id ) %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sm mt-3 mb-0">
                <thead class="table-primary text-white">
                    <tr>
                        <th class="col-11 align-middle"
                            role="button" data-toggle="collapse"
                            href="#collapse{{ ci[category].category_id }}">
                            {{ ci[category].name }}
                        </th>
                        <th class="col-1 align-middle text-center text-nowrap">
                            Actions
                            <a class="btn btn-primary btn-sm text-white"
                                href="{{ url_for('item.create', category_id=ci[category].category_id) }}">
                                {{ render_icon('plus-square') }}
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody class="collapse show" id="collapse{{ ci[category].category_id }}">
        {% endif %}
        {% if ci[item] is not none %} 
            {% include 'item/list_item.html.jinja' %}
        {%endif %}
        {% if loop.nextitem is not defined or
            ( loop.nextitem is defined and
              loop.nextitem[category].category_id != ci[category].category_id ) %}
                </tbody>
            </table>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">
        {% include 'collapse.js' %}
        {% include 'scroll.js' %}
    </script>
{% endblock %}
