body {
  /* https://getbootstrap.com/docs/4.0/components/navbar/#placement */
  padding-top: 40px;
}

a {
  background-color: transparent;
  color: #325d88;
  text-decoration: none;
}

a:hover {
  color: #325d88;
  text-decoration: underline;
}

td[data-href] {
  cursor: pointer;
}

.alert {
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
}

.bg-primary {
  background-color: #325d88 !important;
}

.table-primary th,
.table-primary thead th {
  background-color: #325d88 !important;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  visibility: hidden;
}

.collapse.show {
  -webkit-transition: none;
  transition: none;
  visibility: visible;
}

/* https://github.com/twbs/bootstrap/issues/27629 */
.form-control {
  height: auto !important;
}

/*
.form-group.required .form-control-label:after {
    content: "*";
    color: red;

@media (max-width: 767px) {
  .item-value {
    min-width: 135px;
  }
}
@media (min-width: 768px) {
  .item-value {
    min-width: 185px;
  }
}
*/

/*
 * as documented in https://icons.getbootstrap.com/, the size of icons can be
 * modified using font-size of the bi class
 */
