body {
  /* https://getbootstrap.com/docs/4.0/components/navbar/#placement */
  padding-top: 40px;
}

a {
  background-color: transparent;
  color: #325d88;
  text-decoration: none;
}

a:hover {
  color: #325d88;
  text-decoration: underline;
}

td[data-href] {
  cursor: pointer;
}

.bg-primary {
  background-color: #325d88 !important;
}

.table-primary th,
.table-primary thead th {
  background-color: #325d88 !important;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  visibility: hidden;
}

.collapse.show {
  -webkit-transition: none;
  transition: none;
  visibility: visible;
}

/*
.form-group.required .form-control-label:after {
    content: "*";
    color: red;
}
*/
