<tr>
    <th class="align-middle font-weight-normal">
        {{ ic[0].name }}
    </th>
    <td class="align-middle text-center">
        {# TODO #}
        <a class="btn btn-success item-checked text-white"
            id="{{ 'item' ~ ic[0].item_id }}">
            {{ render_icon('check-square') }}
        </a>
    </td>
</tr>
