{% from "bootstrap5/nav.html" import render_nav_item %}
{% from "bootstrap5/utils.html" import render_icon, render_messages %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta name="description"
                  content="flask-list is a simple Flask application to manage lists of categories of items"/>
            <meta name="keywords"
                  content="Flask, list, category, categories, item, items"/>
            <meta name="viewport"
                  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
            {% block styles %}
                {{ bootstrap.load_css() }}
                <style nonce="{{ csp_nonce() }}">{% include "base.css" %}</style>
            {% endblock styles %}
            <title>{{ title }}</title>
        {% endblock head %}
    </head>
    <body>
        {% if not current_user.is_anonymous %}
            <nav class="navbar navbar-expand-md bg-light fixed-top border-bottom py-0">
                <div class="container-fluid">
                    <button class="navbar-toggler py-1 my-1"
                            data-bs-target="#navbar-collapse"
                            data-bs-toggle="collapse"
                            type="button">
                        {{ render_icon("list") }}
                    </button>
                    <div class="navbar-collapse collapse" id="navbar-collapse">
                        <ul class="navbar-nav ms-auto">
                            {% if title == "Details of List" %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                       data-bs-toggle="dropdown"
                                       aria-expanded="false"
                                       href="#"
                                       role="button">List</a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item text-dark"
                                               data-bs-target="#navbar-collapse"
                                               data-bs-toggle="collapse"
                                               href="#"
                                               id="ShowHideActions">Show/Hide Actions</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item text-dark" href="#">Reset All Values</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false"
                                   href="#"
                                   role="button">Profile</a>
                                <ul class="dropdown-menu dropdown-menu-end mb-2">
                                    <li>
                                        <a class="dropdown-item text-dark"
                                           href="{{ url_for('auth.change_password') }}">Change Password</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" href="{{ url_for('auth.invite') }}">Invite User</a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" href="{{ url_for('auth.logout') }}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}
        <main class="container mb-3">
            {{ render_messages(dismissible=True, dismiss_animate=True) }}
            {% block content %}
            {% endblock content %}
        </main>
        {% block scripts %}
            {{ bootstrap.load_js(nonce=csp_nonce()) }}
            <script nonce="{{ csp_nonce() }}" src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
            </script>
        {% endblock scripts %}
        <noscript>
            This website requires JavaScript.
        </noscript>
    </body>
</html>
