:root {
    /* https://getbootstrap.com/docs/5.2/customize/css-variables/ */
    --bs-body-font-size: 0.875rem;
    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: var(--bs-primary);
}

body {
    /* https://getbootstrap.com/docs/5.2/components/navbar/#placement */
    padding-top: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.alert {
    margin-bottom: 0;
    margin-top: 1rem;
}

.collapse.show {
    -webkit-transition: none;
    transition: none;
    visibility: visible;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    visibility: hidden;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0;
}

.required label:after {
    color: var(--bs-red);
    content: " ⚹";
}

.table-primary th,
.table-primary thead th {
    background-color: var(--bs-primary);
}

th[data-bs-toggle="tooltip"],
td[data-bs-toggle="tooltip"] {
    max-width: 0;
}

td[data-href] {
    cursor: pointer;
}

.tooltip-info {
    --bs-tooltip-bg: var(--bs-info);
    --bs-tooltip-opacity: 1;
}

@media (max-width: 767px) {
    .item-value {
        min-width: 120px;
    }
}

@media (min-width: 768px) {
    .item-value {
        min-width: 180px;
    }
}
