a {
    background-color: transparent;
    color: #325d88;
    text-decoration: none;
}

a:hover {
    color: #325d88;
    text-decoration: underline;
}

.alert {
    margin-bottom: 0;
    margin-top: 1rem;
}

body {
    /* https://getbootstrap.com/docs/5.2/components/navbar/#placement */
    padding-top: 40px;
}

.collapse.show {
    -webkit-transition: none;
    transition: none;
    visibility: visible;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    visibility: hidden;
}

/* https://github.com/twbs/bootstrap/issues/27629 */
.form-control {
    height: auto !important;
}

.required label:after {
    color: darkred;
    content: " ⚹";
}

.table-primary th,
.table-primary thead th {
    background-color: #325d88 !important;
}

th[data-bs-toggle="tooltip"],
td[data-bs-toggle="tooltip"] {
    max-width: 0;
}

td[data-href] {
    cursor: pointer;
}

.tooltip-info {
    --bs-tooltip-bg: var(--bs-info);
    --bs-tooltip-opacity: 1;
}

@media (max-width: 767px) {
    .item-value {
        min-width: 120px;
    }
}

@media (min-width: 768px) {
    .item-value {
        min-width: 180px;
    }
}

/*
 * as documented in https://icons.getbootstrap.com/, the size of icons can be
 * modified using font-size of the bi class
 */
