<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>
        404, Not Found
    </title>
</head>
<body>
    <div class="row h-1OO justify-content-center my-5">
        <div class="text-center">
            <h1 class="font-weight-bold">Oops!</h1>
            <h2 class="font-weight-bold">404 Not Found</h2>
            <div>Sorry, this page isn't available!</div>
        </div>
    </div>

    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}

    <noscript>
        This website requires JavaScript.
    </noscript>
</body>
</html>
