<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="description"
              content="flask-list is a simple Flask application to manage lists of categories of items"/>
        <meta name="keywords"
              content="Flask, list, category, categories, item, items"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock styles %}
        <title>404, Not Found</title>
    </head>
    <body>
        <div class="row h-1OO justify-content-center my-5">
            <div class="text-center">
                <h1 class="fw-bold">Oops!</h1>
                <h2 class="fw-bold">404 Not Found</h2>
                <div>Sorry, this page isn't available!</div>
            </div>
        </div>
        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock scripts %}
        <noscript>
            This website requires JavaScript.
        </noscript>
    </body>
</html>
