<tr>
    <td class="align-middle">
        {{ category[0].name }}
    </td>
    <td class="align-middle text-center">
        {% if category[1] is none %}
            <a class="btn bg-transparent text-dark"
                data-category-id="{{ category[0].category_id }}"
                data-version-id="none">
                {{ render_icon('square') }}
            </a>
        {% else %}
            <a class="btn btn-success text-white"
                data-category-id="{{ category[1].category_id }}"
                data-version-id="{{ category[1].version_id }}">
                {{ render_icon('check-square') }}
            </a>
        {% endif %}
    </td>
</tr>
