<tr>
    <td class="align-middle">
        {{ ci[item].name }}
    </td>
    <td class="align-middle text-center">
        {% if ci[list_item] is none %}
            <a class="item-type btn bg-transparent text-dark"
                data-item-id="{{ ci[item].item_id }}"
                data-version-id="none">
                {{ render_icon('square') }}
            </a>
        {% elif ci[list_item].type_|string() == "ListItemType.selection" %}
            <a class="item-type btn btn-success text-white"
                data-item-id="{{ ci[list_item].item_id }}"
                data-version-id="{{ ci[list_item].version_id }}">
                {{ render_icon('check-square') }}
            </a>
        {% elif ci[list_item].type_|string() == "ListItemType.number" %}
            <a class="item-type btn btn-info text-white"
                data-item-id="{{ ci[list_item].item_id }}"
                data-version-id="{{ ci[list_item].version_id }}">
                {{ render_icon('calculator') }}
            </a>
        {% elif ci[list_item].type_|string() == "ListItemType.text" %}
            <a class="item-type btn btn-secondary text-white"
                data-item-id="{{ ci[list_item].item_id }}"
                data-version-id="{{ ci[list_item].version_id }}">
                {{ render_icon('card-text') }}
            </a>
        {% endif %}
    </td>
</tr>
