{% extends "base.html.jinja" %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}
    <div class="card mt-3 mb-0">
        <h5 class="card-header bg-danger text-white">Delete Category</h5>
        <div class="card-body">
            {% if item_count > 0 %}
                <div class="card-title text-danger font-italic">
                    WARNING: The category still contains {{ item_count }}
                    {% if item_count == 1 %}
                        item
                    {% else %}
                        items
                    {% endif %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-4">
                    {{ render_form(form, button_map={
                    "submit": "danger", "cancel": "light"}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script nonce="{{ csp_nonce() }}">{% include "cancel.js" %}</script>
{% endblock scripts %}
