<tr>
    <td class="align-middle"
        data-href="{{ url_for('list.detail', list_id=list.list_id) }}">
        {{ list.name }}
    </td>
    <td class="align-middle text-center text-nowrap">
        <div class="btn-group" role="group">
            <a class="btn btn-warning rounded text-white mr-2"
                href="{{ url_for('list.update', list_id=list.list_id) }}">
                {{ render_icon('pencil') }}
            </a>
            <a class="btn btn-danger rounded text-white"
                href="{{ url_for('list.delete', list_id=list.list_id) }}">
                {{ render_icon('trash') }}
            </a>
        </div>
    </td>
</tr>
